html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,body {
  width:100%;
  height: 100%;
  margin:0;
  padding: 0;
}
/* Hydra canvas is stretching for some reason */
#hydra-canvas {
  width:100%;
  height: 100%;
  margin:0;
  padding: 0;
}
#p5-wrapper {
  display:none;
  width: 100%;
  height: 100%;
}
#defaultCanvas0 {
  width: 100%;
  height: 100%;
}
